<%
const {
  since: f_since,
  hexo_theme: f_hexo_theme,
  icp: f_icp,
  site_deploy: f_site_deploy,
  shields: f_shields
} = theme.footer
const { author: bi_author } = theme.base_info
const { author: hexo_author } = config
const { site_uv: bsz_site_uv, site_pv: bsz_site_pv, enable: bsz_enable } = theme.website_count.busuanzi_count
%>
<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">
            &copy;
            <% if (f_since) { %>
                <span><%= f_since %></span> -
            <% } %>
            <%= date(new Date(), 'YYYY') %>
            <% if (bi_author || hexo_author) { %>
                &nbsp;<i class="fas fa-heart icon-animate"></i>
                &nbsp;<a href="/"><%= bi_author || hexo_author %></a>
            <% } %>
        </div>
        <% if (bsz_enable === true) { %>
            <script async <%= theme.pjax.enable === true ? 'data-pjax' : '' %>
                    src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <div class="website-count info-item">
                <% if (bsz_site_uv) { %>
                    <%- __('site_uv') %>&nbsp;<span id="busuanzi_value_site_uv"></span>&ensp;
                <% } %>
                <% if (bsz_site_pv) { %>
                    <%- __('site_pv') %>&nbsp;<span id="busuanzi_value_site_pv"></span>
                <% } %>
            </div>
        <% } %>
        <!--注释掉这里的代码，就可以取消底部的hexo标识-->
        <% if (f_hexo_theme === true) { %>
            <div class="theme-info info-item">
                <%- __('powered_by', '<a target="_blank" href="https://hexo.io">Hexo</a>') %>&nbsp;|&nbsp;<%- __('theme') %>&nbsp;<a class="theme-version" target="_blank" href="https://github.com/XPoet/hexo-theme-keep">Keep v3.5.2</a>
            </div>
        <% } %>
        <% if (f_icp) { %>
            <div class="icp-info info-item">
                <a target="_blank" rel="nofollow"
                   href="https://beian.miit.gov.cn"
                >
                    <%= f_icp %>
                </a>
            </div>
        <% } %>
        <% if (f_site_deploy?.enable === true && f_site_deploy?.provider !== '') { %>
            <div class="deploy-info info-item">
                <% if (f_site_deploy?.url) { %>
                    <a target="_blank" rel="nofollow" href="<%= f_site_deploy?.url %>">
                <% } %>
                    <%- __(
                            'footer_deploy',
                            '<span class="tooltip" data-content="' + __('deploy_provider.' + f_site_deploy?.provider) + '"><img src="/images/deploy-provider/' + f_site_deploy?.provider + '.png"></span>'
                    ) %>
                <% if (f_site_deploy?.url) { %>
                    </a>
                <% } %>
            </div>
        <% } %> 
        <!-- 添加网站运行时间 -->
        <% if (theme.running_time && theme.running_time.enable && theme.running_time.create_time) { %>
            <div class="timerun-info info-item">
                <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
                <script>
                var now = new Date();
                function createtime() {
                    //此处修改你的建站时间或者网站上线时间
                    var create_time = '<%- theme.running_time.create_time %>';
                    var grt = new Date(create_time);
                    now.setTime(now.getTime() + 250);
                    days = (now - grt) / 1000 / 60 / 60 / 24;
                    dnum = Math.floor(days);
                    hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum);
                    hnum = Math.floor(hours);
                    if (String(hnum).length == 1) {
                        hnum = "0" + hnum;
                    }
                    minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
                    mnum = Math.floor(minutes);
                    if (String(mnum).length == 1) {
                        mnum = "0" + mnum;
                    }
                    seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
                    snum = Math.round(seconds);
                    if (String(snum).length == 1) {
                        snum = "0" + snum;
                    }
                    document.getElementById("timeDate").innerHTML = "本站已安全运行 " + dnum + " 天 ";
                    document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
                }
                setInterval("createtime()", 250);
                </script>
            </div>
        <% } %>
        <% if (f_shields?.enable === true) { %>
            <div class="shields-info info-item">
                <% for (var i in f_shields?.data){ %>
                    <% if (f_shields?.data[i].img_url) { %>
                        <a href="<%= f_shields?.data[i].link_url%>" target="_blank">
                            <img src="<%= f_shields?.data[i].img_url%>" height="20px">
                        </a>
                    <% } %>
                <% } %>
            </div>
        <% } %> 
    </div>
</footer>
